.carousel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.scroll {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 100%;
}

.carousel-card {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #3b3b3b;
}
