footer {
  background-color: #333333;
}

footer .container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

footer img {
  width: 10rem;
}

footer .text-row {
  color: #ffffff;
  font-size: 1rem;
}

footer .text-col {
  color: #aaaaaa;
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
  }
}
