.star {
  display: flex;
  /* border: 1px solid #ffffff; */
  background: rgb(92, 3, 11);
  background: linear-gradient(
    45deg,
    rgba(92, 3, 11, 1) 0%,
    rgba(92, 3, 11, 1) 40%,
    rgba(146, 28, 40, 1) 100%
  );
  background-image: url("../img/background-star.jpg");
  border-radius: 0rem;
  overflow: hidden;
  box-shadow: 0px 4px 10px 0px #00000077;
  cursor: pointer;
}

.star img {
  height: 450px;
  transition-duration: 0.3s;
}

.star .text-col {
  padding: 2rem;
  text-align: left;
}

.star .text-col p {
  font-size: 1.5rem;
  height: 180px;
  overflow: hidden;
}

.prime {
  position: relative;
  overflow: hidden;
}

.star-label {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #ec1d24;
  padding: 1rem;
  border-radius: 0 0 0 0.5rem;
  box-shadow: -5px 8px 15px 5px #000000aa;
}

.star-label h3 {
  font-size: 1.5rem;
  transition-duration: 0.3s;
}

.star-label span {
  color: #222222;
}

@media (max-width: 1024px) {
  .star img {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .star img {
    height: 350px;
  }

  .star-label h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .star {
    flex-direction: column;
  }

  .star img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  .star-label h3 {
    font-size: 1.25rem;
  }

  .star > .text-col > p {
    font-size: 1.12rem;
    height: auto;
  }
}
